%message {
  font-size: sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding : 20px;
  border : 20px;
}

.pikachu{
  @extend %message;
  color: orange;
}

.bulbasaur {
  @extend %message;
  color : green;
}
